settings.cfg
main
config.json
storage
*_server.crt
*_server.key
AxisBodyWornSwiftServiceExample*
GNSSViewerExample*
/media-storage-service
/contentkey.private.pem
/contentkey.public.pem
Devices
System
Users
????????-????-????-????-????????????_????????????_????????T??????Z
.vscode